<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="local_connection_string1" connectionString="Data Source=VajraB\SQLEXPRESS;Initial Catalog=Staff Allocations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="local_connection_string3" connectionString="Data Source=Vajra-Omen\SQLEXPRESS;Initial Catalog=Staff Allocations;Integrated Security=True"
    providerName="System.Data.SqlClient" />
        <add name="local_connection_string" connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=Staff Allocations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Staff_Allocations.My.MySettings.local_connection_string1"
            connectionString="Data Source=VajraB\SQLEXPRESS;Initial Catalog=STAFF ALLOCATIONS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Staff_Allocations_MiddleTier.My.MySettings.local_connection_string1"
            connectionString="Data Source=VajraB\SQLEXPRESS;Initial Catalog=Staff Allocations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="Staff_Allocations.My.MySettings.local_connection_string3"
    connectionString="Data Source=Vajra-Omen\SQLEXPRESS;Initial Catalog=STAFF ALLOCATIONS;Integrated Security=True"
    providerName="System.Data.SqlClient" />
      <add name="Staff_Allocations_MiddleTier.My.MySettings.local_connection_string3"
          connectionString="Data Source=Vajra-Omen\SQLEXPRESS;Initial Catalog=Staff Allocations;Integrated Security=True"
          providerName="System.Data.SqlClient" />
        <add name="Staff_Allocations_MiddleTier.My.MySettings.local_connection_string"
            connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=Staff Allocations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Staff_Allocations.My.MySettings.local_connection_string"
            connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=Staff Allocations;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>





