<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <connectionStrings>
    <add name="local_connection_string" connectionString="Data Source=WATEROVERWIND\EH1_SQLEXPRESS;Initial Catalog=&quot;Staff Allocations&quot;;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="local_connection_string1" connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=&quot;Staff Allocations&quot;;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Staff_Allocations.My.MySettings.local_connection_string"
        connectionString="Data Source=WINDOVERWATER\EH1_SQLEXPRESS;Initial Catalog=&quot;Staff Allocations&quot;;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Staff_Allocations.My.MySettings.local_connection_string1"
        connectionString="-" providerName="System.Data.SqlClient" />
    <add name="Staff_Allocations_MiddleTier.My.MySettings.local_connection_string"
        connectionString="Data Source=WATEROVERWIND\EH1_SQLEXPRESS;Initial Catalog=&quot;Staff Allocations&quot;;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Staff_Allocations_MiddleTier.My.MySettings.local_connection_string1"
        connectionString="Data Source=CHASI-FS01-TERM\SQLEXPRESS2014;Initial Catalog=&quot;Staff Allocations&quot;;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>





